@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/*NAVIGATION BAR*/
.navigation{
    display: flex;
    width: 100%;
    padding: 0 50px;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f6ee;
}
.logo img{
    height: 150px;
    width: auto;
}
.navbar{
    font-size: 20px;
    display: inline-flex;
    font-weight: 500;
    padding-right: 150px;
}
.navlinks{
    display: inline-flex;
    padding: 0 30px;
}
.navlinks a{
    color:black;
    text-decoration: none;
}
.navlink:hover{
    color: rgb(6, 146, 146);
    transition: 0.5s;
    transform: translateY(-5px);
}
.indexnav{
    z-index: 999;
    box-shadow: 0 2px 50px 3px;
}
.navlinklogout{
    padding: 10px 20px;
    border: 2px solid black;
    font-size: 20px;
}
.navlink:hover{
    color: rgb(6, 146, 146);
    transition: 0.5s;
    transform: translateY(-5px);
}
.navlinklogout:hover{
    background-color: rgb(231, 231, 231);
    cursor: pointer;
    transition: 0.5s;
}

/*MAIN CONTENT*/
.memberstatus{
    border: 1px solid black;
    justify-content: center;
    text-align: center;
    align-items: center;
    background: rgb(0, 0, 0, 0.5) url(images/memberloginphoto.jpg);
    background-size: cover;
    background-blend-mode: darken;
    background-position: center;
    height: auto;

}
.memberstatustable{
    padding: 30px;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    background-color: #f9f6ee;
    margin-bottom: 50px;
}
.memberstatus h2{
    color: white;
    font-size: 50px;
    padding: 50px 0px;
}
.td1{
    width: 25%;
    justify-content: center;
    text-align: right;
    font-size: 20px;
}
.td2{
    width: 25%;
    justify-content: center;
    text-align: left;
    padding-left: 20px;
    font-size: 20px;
}
/*FOOTER SECTION*/
.indexfooters{
    border-top: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}
.indexfooter{
    margin: 50px;
}
.indexfooter li{
    list-style: none;
}
.indexfooter a{
    text-decoration: none;
    color: black;
}
.indexfooter h3{
    font-size: 30px;
    padding: 20px 0;
}
.indexfooter li{
    font-size: 20px;
    line-height: 50px;
}
.footerd img{
    height: 300px;
}
.indexfooter a:hover{
    color: rgb(173, 25, 25);
    transition: 0.3s;
    cursor: pointer;
}

/*RESPONSIVENESS*/

@media (max-width: 768px){

    /*NAVIGATION SECTION*/
    .navlist{
        display: inline-flex;        
    }
    .navlinks{
        align-items: center;
        max-width: 100%;
        font-size: 20px;
    }
    .logo img{
        width: 200px;
        height: auto;
        position: relative;
    }

    /*MAIN CONTENT SECTION*/

    .memberstatus h2{
        font-size: 40px;
        padding: 20px auto;
    }
    .memberstatustable{
        padding: 10px;
        width: 80%;
        background-color: #f9f6ee;
        margin-bottom: 50px;
    }
    .td1{
        font-size: 15px;
    }
    .td2{
        padding-left: 10px;
        font-size: 15px;
    }


    /*FOOTER SECTION*/
    .indexfooters{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }
    .indexfooter{
        margin: 20px;
    }
    .indexfooter li{
        list-style: none;
        padding: 2px 0;
    }
    .indexfooter a{
        text-decoration: none;
        color: black;
    }
    .indexfooter h3{
        font-size: 20px;
        padding: 10px 0;
    }
    .indexfooter li{
        font-size: 10px;
        line-height: 20px;
    }
    .footerd img{
        height: 200px;
    }
    .indexfooter a:hover{
        color: rgb(173, 25, 25);
        transition: 0.3s;
        cursor: pointer;
    }
}


@media (max-width: 375px){
    /*NAVIGATION*/

    .navlist{
        display: flex;
    }
    .navlinks{
        align-items: center;
        padding: 0;
    }
    .aboutnav, .helpnav{
        display: none;
    }
    .navlinklogout{
        font-size: 12px;
    }
    .logo img{
        width: 100px;
        height: auto;
        position: relative;
    }

    /*MAIN CONTENT SECTION*/

    .memberstatus h2{
        font-size: 30px;
        padding: 20px auto;
    }
    .memberstatustable{
        padding: 10px;
        width: 100%;
        margin-bottom: 50px;
    }
    .td1{
        font-size: 10px;
    }
    .td2{
        padding-left: 10px;
        font-size: 10px;
    }

    .indexfooters{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }
    .indexfooter{
        margin: 10px;
    }
    .indexfooter li{
        list-style: none;
        padding: 2px 0;
    }
    .indexfooter h3{
        font-size: 7px;
        padding: 10px 0;
    }
    .indexfooter li{
        font-size: 5px;
        line-height: 10px;
    }
    .footerd img{
        height: 100px;
    }
}